{% extends "base.html" %}

{% block title %}
    {% if object %}
        Edit person data: {{ object.name }} {{ object.surname }}
    {% else %}
        Add new person
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Edit person details: {{ object.name }} {{ object.surname }}
        {% else %}
            Add new person
        {% endif %}
    </h1>
    <div class="popup-form-container">
        <h2>Participant details</h2>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="form-buttons">
                <input type="submit" value="Save">
                <a href="/" id="cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
{% block domready %}
    $("#id_birth_date").datepicker({
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        yearRange: "-90:+0"
    });
{% endblock %}