/*
light-blue: #6ee2f5
dark-blue: #4c3ec9
dark-gray: #585858
light-gray: #a4a4a4
*/


@import url(//fonts.googleapis.com/css?family=Roboto:500,400,300);

html, body, #content {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color:#333;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:300;
    padding-left: 30px;
}

#header {
    background:linear-gradient(to bottom right, #6ee2f5, #4c3ec9);
    overflow:auto;
    padding:20px 30px;
}

#header .logo {
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    text-transform:uppercase;
    font-size:28px;
    color:#fff;
    float:left;
}

#header a {
    color:#fff;
}

#header .menu {
    list-style:none;
    float:right;
    margin:0;
    padding:0;
}

.sub-header {
    background:#a4a4a4;
    font-size: 24px;
    color: #585858;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-header ul {
    list-style:none;
    margin:0;
    font-size: 18px;
}

.sub-header li {
    float: right;
}

.sub-header button {
    display: inline-block;
    padding: 1.15em;
    cursor: pointer;
    border: none;
    background-color: #a4a4a4;
    color: #585858;
}

.sub-header button:hover:not([disabled]) {
    background-color: #585858;
    color: #a4a4a4;
}

.sub-header button:disabled,
.sub-header button[disabled] {
    color: white;
    cursor: context-menu;
    opacity: 0.5;
}

.sub-header button:disabled a,
.sub-header button[disabled] a {
    color: white;
    cursor: context-menu;
}

.no-result {
    text-align: center;
}
