@import "base.css";

.popup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 200vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    transform: scale(0);
    overflow: auto;
}

.popup-form-content {
    margin: 2vw;
    min-height: min-content;
    min-width: 20rem;
    max-width: 50vw;
    padding: 10px 20px 30px 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
    max-height: 40vw;
    overflow-y: auto;
}

.popup-form-content form {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    text-align: left;
}

.popup-form-content .errorlist {
    position: relative;
    top: -10px;
    list-style:none;
    color: red;
    text-align: left;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

.popup-form-content form label {
    margin-top: 0.5rem;
}

.error-input input{
    border: 2px solid red !important;
}

.popup-form-container input[type=text], input[type=email] {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup-form-container input[type=submit]:hover, #cancel:hover {
  background-color: #585858;
}

.form-buttons {
    display: flex;
    width: 100%;
    text-align: center;
}

.form-buttons input[type=submit], #cancel {
    width: 100rem;
    background-color: #a4a4a4;
    color: white;
    padding: 0.5rem 0.7rem;
    margin: 1rem 0.3rem 0 0.3rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight:300;
}

#x-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #585858;
    font-family:'Calibri';
    font-weight: 400;
}