@import "base.css";

.persons {
  border-collapse: collapse;
  width: 100%;
  font-size:14px;
  empty-cells: show;
}

.persons td, .persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

.persons tr:nth-child(even){background-color: #f2f2f2;}

.persons tr:hover {
    background-color: #ddd;
    cursor:pointer;
}

.persons .header {
  background:linear-gradient(to bottom right, #6ee2f5, #4c3ec9);
}

.persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
  font-weight:300;
}

.persons tr td {
    white-space: nowrap;
}

.check-cell {
  text-align: center;
  vertical-align: middle;
}
