@import "base.css";

.dashboard-select {
    font-family:'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight:400;
    padding: 0.6em 0.2em 0.6em 2em;
    background: rgba(0,0,0,0);
    color: #585858;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select {
    position: relative;
    padding: 0 0.3em 0 0.3em;
}

.custom-select:hover {
    background-color: #585858;
    cursor: pointer;
}

.custom-select option:hover {
    cursor: pointer;
}

.dashboard-select:hover {
    color: #a4a4a4;
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3em;

    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 0.6em;
    transform: translate(0, -50%);
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #585858;
    top: 35%;
}

.custom-select:hover::before {
    border-bottom-color: #a4a4a4;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #585858;
    top: 60%;
}


.custom-select:hover::after {
    border-top-color: #a4a4a4;
}