@import "base.css";

.trips-flex {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.trips-list {
    flex-basis: 25%;
    background: #585858;
    color: white;
    list-style: none;
}

.trips-list ul {
    list-style: none;
    padding: 0;
}

.trip-stages {
    flex-basis: 75%;
}

.trip-stages p {
    text-align: center;
}