{% extends "base.html" %}
{% load static %}
{% load common_tags %}
{% load manage_trip_tags %}

{% block title %}{{ dashboard_title }}{% endblock %}

{% block content %}

	<header class="sub-header">
        <h1>{{ dashboard_title }}</h1>
        <ul>
            <li>
                <button id="group-remove" type="submit" disabled>
                    <i class="fa-solid fa-minus"></i>&nbsp; Remove
                </button>
            </li>
            <li>
                <button class="open-form-btn">
                    <i class="fa-solid fa-plus"></i>&nbsp; Add
                </button>
            </li>
        </ul>
	</header>

    {% block section_form %}{% endblock %}

    <div class="sub-content">

        {% block navbar %}
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="{% url "person_list" %}">
                            <i class="fa-solid fa-user-friends"></i>&nbsp; Participants
                        </a>
                    </li>
                    <li>
                        <a href="{% url "trip_list" %}">
                            <i class="fa-solid fa-route"></i>&nbsp; Trips
                        </a>
                    </li>
                </ul>
            </nav>
        {% endblock %}

        <table class="item-list">
            <tr class="header">
                <th>
                    <input type="checkbox" id="select-all"/>
                </th>
                {% for h in headers %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
            {% for obj in object_list %}
                <tr id="{{ obj.id }}" class="">
                    <td class="check-cell">
                        <input type="checkbox" value="{{ obj.id }}"/>
                    </td>
                    {% for attr in attributes %}
                        <td onclick="window.location='{% url edit_url_name obj.id %}';">
                            {% attribute_value obj attr as attr_value %}
                            {% if attr_value %}{{ attr_value }}{% else %}&nbsp;{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ headers|length|add:"1" }}" class="no-result">
                        <p>No objects in the database.</p>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}

{% block domready %}
    {% if messages %}
        var message = "";
        {% for message in messages %}
            var message = message + "{{ message }}";
        {% endfor %}

        alert(message);
        window.history.back();
    {% endif %}

    let checkboxes = $("input[type='checkbox']"),
    let removeButton = $("#group-remove"),
    let selectAllCheck = $("#select-all");

    selectAllCheck.click(function() {
        checkboxes.not(this).prop("checked", this.checked);
    });
    checkboxes.click(function() {
        removeButton.prop("disabled", !checkboxes.is(":checked"));
    });
    var ids = [];
    const pluralize = (count, noun, suffix = 's') => `${noun}${count !== 1 ? suffix : ''}`;
    removeButton.click(function() {
        $(':checkbox:checked').each(function(i) {
            ids[i] = $(this).val();
        });
        var count = ids.length;
        if(count > 0) {
            if (confirm("Are you sure you want to remove " + count + " " + pluralize(count, 'object') + "?")) {
                $.post('',
                    {
                        'action': 'Delete',
                        ids
                    },
                    function(response, status) {
                        if ($(response).find('.no-permission').length) {
                            window.location.replace("{% url "no_permission" %}");
                        } else {
                            for(var i=0; i < count; i++) {
                                var removedRow = $('tr#' + ids[i]);
                                removedRow.css('background-color', '#ccc');
                                removedRow.fadeOut('slow');
                                removedCheckbox = $("input[type='checkbox'][value=" + ids[i] + "]");
                                removedCheckbox.prop('checked', false);
                            }
                        }
                    }
                );
            }
        }
    });

    {% block additional_js %}{% endblock %}
{% endblock %}
