asgiref==3.5.2
Django==4.1.3
git-filter-repo==2.34.0
numpy==1.23.2
Pillow==9.3.0
python-decouple==3.6
six==1.16.0
sqlparse==0.4.3
wxPython==4.2.0
psycopg2-binary==2.9.5
fontawesomefree==6.2.1
django-phonenumber-field==7.0.0
django-phonenumbers==1.0.1