{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}AppHoy{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/select-menu.css" %}" rel="stylesheet">
    <link href="{% static "css/forms.css" %}" rel="stylesheet">
    <link href="{% static "css/item-list.css" %}" rel="stylesheet">
    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <link href="{% static "fontawesomefree/css/all.min.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">AppHoy</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                {{ user.get_username }}
                <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
                <li><a href="{% url "login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/sort-table.js" %}"></script>
    <script src="{% static "js/dashboard.js" %}"></script>
    <script>
        $(document).ready(function() {

            {% block domready %}
            {% endblock %}

            let formContainer = $(".popup-form");
            {% if form.errors %}
                formContainer.css("transform", "scale(1)");
            {% elif target %}
                formContainer.css("transform", "scale(1)");
                $("#confirm-form-btn").prop("value", "Update");
            {% else %}
                formContainer.css("transform", "scale(0)");
            {% endif %}

            $(".open-form-btn").click(function() {
                formContainer.css("transform", "scale(1)");
            });
            $(".form-exit").click(function() {
                formContainer.css("transform", "scale(0)");
            });

            $(".date-picker").datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                yearRange: "-90:+0"
            });

            {% if messages %}
                let message = "";
                {% for message in messages %}
                    message = message + "{{ message }}";
                {% endfor %}

                alert(message);
            {% endif %}

        });
    </script>
</body>
</html>