/*
light-blue: #6ee2f5
dark-blue: #4c3ec9
dark-gray: #585858
light-gray: #a4a4a4
*/


@import url(//fonts.googleapis.com/css?family=Roboto:500,400,300);

html, body, #content {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color:#333;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:300;
}

#header {
    background:linear-gradient(to bottom right, #6ee2f5, #4c3ec9);
    overflow:auto;
    padding:20px 30px;
}

#header .logo {
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    text-transform:uppercase;
    font-size:28px;
    color:#fff;
    float:left;
}

#header a {
    color:#fff;
}

#header .menu {
    list-style:none;
    float:right;
    margin:0;
    padding:0;
}

.sub-header {
    background:#a4a4a4;
    font-size: 24px;
    color: #585858;
    user-select: none;
    display: flex;
    width: 100vw;
    height: 50px;
    flex-direction: row-reverse;
}

.sub-header h1 {
  position: fixed;
  left: 50%;
}

.sub-header ul {
    list-style:none;
    margin:0;
    font-size: 18px;
}

.sub-header li {
    float: right;
}

.sub-header button, .back-button {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: #a4a4a4;
    color: #585858;
}

.back-button {
  position: fixed;
  left: 0;
}

.back-button a, .sub-header button {
    color: #585858;
    vertical-align: middle;
    display: table-cell;
    height: 50px;
    padding: 0 15px 0 15px;
}

.back-button {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
}

.sub-header button:hover:not([disabled]), .back-button:hover, .back-button:hover a{
    background-color: #585858;
    color: #a4a4a4;
}

.sub-header button:disabled,
.sub-header button[disabled] {
    color: white;
    cursor: context-menu;
    opacity: 0.5;
}

.sub-header h1 {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.no-result {
    text-align: center;
}
