@import "base.css";

.item-list {
    flex-grow: 1;
    border-collapse: collapse;
    font-size:14px;
    empty-cells: show;
    align-self: flex-start;
}

.item-list td, .item-list th {
    border: 1px solid #ddd;
    padding: 8px;
}

.item-list tr:nth-child(even){background-color: #f2f2f2;}

.item-list tr:hover {
    background-color: #ddd;
    cursor:pointer;
}

.item-list td:hover input {
    cursor:pointer;
}

.item-list .header {
    background: linear-gradient(to bottom right, #6ee2f5, #4c3ec9);
}

.item-list .header th:hover {
    background: #6095eb;
}

.item-list .header th:hover input {
    background: #6095eb;
    cursor:pointer;
}

.item-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
    font-weight:300;
}

.item-list tr td {
    white-space: nowrap;
}

.check-cell {
    text-align: center;
    vertical-align: middle;
}

.item-list th {
    cursor: pointer;
}

.item-list .th-sort-asc::after {
    content: "\25b4";
}

.item-list .th-sort-desc::after {
    content: "\25be";
}

.item-list .th-sort-asc::after,
.item-list .th-sort-desc::after {
    margin-left: 5px;
}

.item-list .th-sort-asc,
.item-list .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}
