{% extends "base.html" %}
{% load common_tags %}

{% block title %}Trips{% endblock %}

{% block content %}
	<header class="sub-header">
        <div class="custom-select">
            <select class="dashboard-select" onChange="window.location.href=this.value">
                <option value="{% url "person_list" %}">Persons</option>
                <option selected value="{% url "trip_list" %}">Trips</option>
            </select>
        </div>
        <ul>
            <li><button>Change</button></li>
            <li><button class="open-form-btn" id="add-form-btn">Add</button></li>
        </ul>
	</header>
    <div class="popup-form-container">
<!--        <div class="trip-stages">-->
<!--            {% for stage in trip_stages %}-->
<!--                <h3><a href="{% url "trip_stage_detail" stage.slug %}">{{ stage.name }}</a></h3>-->
<!--            {% empty %}-->
<!--                <p>No stages for this trip.</p>-->
<!--            {% endfor %}-->
<!--        </div>-->
        <div class="popup-form-content">
            <h3>Add new trip:</h3>
            <form action="." method="post">
                {{ form.name.label }}:
                <span {% if form.name.errors %}class="error-input"{% endif %}>{{ form.name }}</span>
                {{ form.name.errors }}
                {% csrf_token %}
                <div class="form-buttons">
                    <a href="#" class="form-exit" id="cancel">Cancel</a>
                    <input id="confirm-form-btn" type="submit" value="Add">
                </div>
            </form>
            <i class="form-exit" id="x-btn">x</i>
        </div>
    </div>

    <table class="item-list">
        <tr class="header">
            <th>
                <input type="checkbox" id="select-all"/>
            </th>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
        </tr>
        {% for trip in object_list %}
            <tr id="{{ trip.id }}" class="">
                <td class="check-cell">
                    <input type="checkbox" value="{{ trip.id }}"/>
                </td>
                {% for attr in attributes %}
                    {% not_in_list attr "stages,slug" as not_in_list %}
                    {% if not_in_list %}
                        <td onclick="window.location='{% url "trip_edit" trip.id %}';">
                            {% attribute_value trip attr as attr_value %}
                            {% if attr_value %}{{ attr_value}}{% else %}&nbsp;{% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="{{ headers|length|add:"1" }}" class="no-result"><p>No trips in the database.</p></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block domready %}
{% endblock %}
