{% extends "trips/trip_manage_base.html" %}
{% load static %}
{% load common_tags %}

{% block additional_buttons %}
    <ul>
        <li>
            <button id="group-remove" type="submit" disabled>
                <i class="fa-solid fa-minus"></i>&nbsp; Remove
            </button>
        </li>
        <li>
            <button class="open-form-btn">
                <i class="fa-solid fa-plus"></i>&nbsp; Add
            </button>
        </li>
    </ul>
{% endblock %}

{% block section_form %}
    <div class="popup-form form-container">
        <div class="form-content">
            <h3>{% if target %}Update{% else %}Add{% endif %} trip stage:</h3>
            <form action="." method="post">
                {{ form }}
                {% csrf_token %}
                <div class="form-buttons">
                    <a href="{% url "trip_stage_list" view.kwargs.trip_pk %}" class="form-exit" id="cancel">Cancel</a>
                    <input id="confirm-form-btn" type="submit" name="action" value="Add">
                </div>
            </form>
            <a href="{% url "trip_stage_list" view.kwargs.trip_pk %}" class="form-exit" id="x-btn">x</a>
        </div>
    </div>
{% endblock %}

{% block section_view %}
    <table class="item-list">
        <tr class="header">
            <th>
                <input type="checkbox" id="select-all"/>
            </th>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
        </tr>
        {% for trip_stage in object_list %}
            <tr id="{{ trip_stage.id }}" class="">
                <td class="check-cell">
                    <input type="checkbox" value="{{ trip_stage.id }}"/>
                </td>
                {% for attr in attributes %}
                    <td onclick="window.location='{% url "trip_stage_edit" view.kwargs.trip_pk trip_stage.id %}';">
                        {% attribute_value trip_stage attr as attr_value %}
                        {% if attr_value %}{{ attr_value }}{% else %}&nbsp;{% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="{{ headers|length|add:"1" }}" class="no-result">
                    <p>No trip stages for this trip in the database.</p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block additional_js %}
    var checkboxes = $("input[type='checkbox']"),
        removeButton = $("#group-remove"),
        selectAllCheck = $("#select-all");

    selectAllCheck.click(function() {
        checkboxes.not(this).prop("checked", this.checked);
    });
    checkboxes.click(function() {
        removeButton.prop("disabled", !checkboxes.is(":checked"));
    });
    var ids = [];
    const pluralize = (count, noun, suffix = 's') => `${noun}${count !== 1 ? suffix : ''}`;
    removeButton.click(function() {
        $(':checkbox:checked').each(function(i) {
            ids[i] = $(this).val();
        });
        var count = ids.length;
        if(count > 0) {
            if (confirm("Are you sure you want to remove " + count + " " + pluralize(count, 'trip') + "?")) {
                $.post('',
                    {
                        'action': 'Delete',
                        ids
                    },
                    function(response, status) {
                        if ($(response).find('.no-permission').length) {
                            window.location.replace("{% url "no_permission" %}");
                        } else {
                            for(var i=0; i < count; i++) {
                                var removedRow = $('tr#' + ids[i]);
                                removedRow.css('background-color', '#ccc');
                                removedRow.fadeOut('slow');
                                removedCheckbox = $("input[type='checkbox'][value=" + ids[i] + "]");
                                removedCheckbox.prop('checked', false);
                            }
                        }
                    }
                );
            }
        }
    });
{% endblock %}
