{% extends "trips/trip_manage_base.html" %}
{% load static %}
{% load common_tags %}

{% block additional_buttons %}
    <ul>
        <li>
            <button id="group-remove" type="submit" disabled>
                <i class="fa-solid fa-minus"></i>&nbsp; Remove
            </button>
        </li>
        <li>
            <button class="open-form-btn">
                <i class="fa-solid fa-plus"></i>&nbsp; Add
            </button>
        </li>
    </ul>
{% endblock %}

{% block section_form %}
    <div class="popup-form form-container">
        <div class="form-content">
            <h3>{% if target %}Update{% else %}Add{% endif %} trip stage:</h3>
            <form action="." method="post">
                {{ form }}
                {% csrf_token %}
                <div class="form-buttons">
                    <a href="{% url "trip_stage_list" view.kwargs.trip_pk %}" class="form-exit" id="cancel">Cancel</a>
                    <input id="confirm-form-btn" type="submit" name="action" value="Add">
                </div>
            </form>
            <a href="{% url "trip_stage_list" view.kwargs.trip_pk %}" class="form-exit" id="x-btn">x</a>
        </div>
    </div>
{% endblock %}

{% block section_view %}
    <table class="item-list">
        <thead>
            <tr class="header">
                <th onclick="selectAll(this.firstElementChild);">
                    <input type="checkbox" />
                </th>
                {% for h in headers %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for trip_stage in object_list %}
                <tr id="{{ trip_stage.id }}" class="">
                    <td>
                        <input type="checkbox" value="{{ trip_stage.id }}"/>
                    </td>
                    {% for attr in attributes %}
                        <td onclick="window.location='{% url "trip_stage_edit" view.kwargs.trip_pk trip_stage.id %}';">
                            {% attribute_value trip_stage attr as attr_value %}
                            {% if attr_value %}{{ attr_value }}{% else %}&nbsp;{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ headers|length|add:"1" }}" class="no-result">
                        <p>No trip stages for this trip in the database.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
