{% extends "base.html" %}

{% block title %}
    {% if object %}
        Edit participant data: {{ object.name }} {{ object.surname }}
    {% else %}
        Add new participant
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Edit participant details: {{ object.name }} {{ object.surname }}
        {% else %}
            Add new participant
        {% endif %}
    </h1>
    <div class="participant-form">
        <h2>Participant details</h2>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save"></p>
            <p><a href="/" id="cancel">Cancel</a></p>
        </form>
    </div>
{% endblock %}
{% block domready %}
    $("#id_birth_date").datepicker({
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        yearRange: "-90:+0"
    });
{% endblock %}