{% extends "base.html" %}
{% load participant_tags %}

{% block title %}Participants{% endblock %}

{% block content %}
    <div class="sub-header">
        <span>Participants</span>
        <ul>
            <li><a href="#"><button id="group-remove" disabled>Remove</button></a></li>
            <li><a href="{% url "participant_add" %}"><button>Add</button></a></li>
        </ul>
    </div>
    <table class="participants">
        <tr class="header">
            <th>&nbsp;</th>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
        </tr>
        {% for participant in object_list %}
        <tr>
            <td>
                <input type="checkbox"  id="selector"/>
            </td>
            {% for attr in attributes %}
                <td>
                    <a href="{% url "participant_edit" participant.id %}">
                        {% attribute_value participant attr as attr_value %}
                        {% if attr_value %}{{ attr_value}}{% else %}&nbsp;{% endif %}
                    </a>
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block domready %}
    var checkboxes = $("input[type='checkbox']"),
        removeButt = $("#group-remove");

    checkboxes.click(function() {
        removeButt.attr("disabled", !checkboxes.is(":checked"));
    });
{% endblock %}

