{% extends "base.html" %}
{% load static %}
{% load common_tags %}

{% block title %}Persons{% endblock %}

{% block content %}
	<header class="sub-header">
        <div class="custom-select">
            <select class="dashboard-select" onChange="window.location.href=this.value">
                <option selected value="{% url "person_list" %}">Persons</option>
                <option value="{% url "trip_list" %}">Trips</option>
            </select>
        </div>
        <ul>
            <li><button id="group-remove" type="submit" disabled>Remove</button></li>
            <li><button class="open-form-btn" id="add-form-btn">Add</button></li>
        </ul>
	</header>
    <div class="popup-form form-container">
        <div class="form-content">
            <h3>{% if target %}Update{% else %}Add{% endif %} person:</h3>
            <form action="." method="post">
                {{ form }}
                {% csrf_token %}
                <div class="form-buttons">
                    <a href="{% url "person_list" %}" class="form-exit" id="cancel">Cancel</a>
                    <input id="confirm-form-btn" type="submit" name="action" value="Add">
                </div>
            </form>
            <a href="{% url "person_list" %}" class="form-exit" id="x-btn">x</a>
        </div>
    </div>
    <div class="sub-content">
        <table class="item-list">
            <tr class="header">
                <th>
                    <input type="checkbox" id="select-all"/>
                </th>
                {% for h in headers %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
            {% for person in object_list %}
                <tr id="{{ person.id }}" class="">
                    <td class="check-cell">
                        <input type="checkbox" value="{{ person.id }}"/>
                    </td>
                    {% for attr in attributes %}
                        <td onclick="window.location='{% url "person_edit" person.id %}';">
                            {% attribute_value person attr as attr_value %}
                            {% if attr_value %}{{ attr_value }}{% else %}&nbsp;{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ headers|length|add:"1" }}" class="no-result"><p>No persons in the database.</p></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block domready %}
    $("#id_birth_date").datepicker({
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        yearRange: "-90:+0"
    });

    var checkboxes = $("input[type='checkbox']"),
        removeButton = $("#group-remove"),
        selectAllCheck = $("#select-all");

    selectAllCheck.click(function() {
        checkboxes.not(this).prop("checked", this.checked);
    });
    checkboxes.click(function() {
        removeButton.prop("disabled", !checkboxes.is(":checked"));
    });
    var ids = [];
    const pluralize = (count, noun, suffix = 's') => `${noun}${count !== 1 ? suffix : ''}`;
    removeButton.click(function() {
        $(':checkbox:checked').each(function(i) {
            ids[i] = $(this).val();
        });
        var count = ids.length;
        if(count > 0) {
            if (confirm("Are you sure you want to remove " + count + " " + pluralize(count, 'person') + "?")) {
                $.post('',
                    {
                        'action': 'Delete',
                        ids
                    },
                    function(response, status) {
                        if ($(response).find('.no-permission').length) {
                            window.location.replace("{% url "person_no_permission" %}");
                        } else {
                            for(var i=0; i < count; i++) {
                                var removedRow = $('tr#' + ids[i]);
                                removedRow.css('background-color', '#ccc');
                                removedRow.fadeOut('slow');
                                removedCheckbox = $("input[type='checkbox'][value=" + ids[i] + "]");
                                removedCheckbox.prop('checked', false);
                            }
                        }
                    }
                );
            }
        }
    });

     {% if messages %}
        var message = "";
        {% for message in messages %}
            var message = message + "{{ message }}";
        {% endfor %}

        alert(message);
        window.history.back();
    {% endif %}
{% endblock %}
