{% extends "base.html" %}

{% block title %}Trips{% endblock %}

{% block content %}
	<header class="sub-header">
        <div class="custom-select">
            <select onChange="window.location.href=this.value">
                <option value="{% url "person_list" %}">Persons</option>
                <option selected value="{% url "trip_stages_list" %}">Trips</option>
            </select>
        </div>
	</header>
    <div class="trips-flex">
        <div class="trips-list">
            <ul id="modules">
                {% for t in trips %}
                    <li {% if trip == t %}class="selected"{% endif %}>
                        <a href="{% url "trip_stage_list_item" t.slug %}">
                            {{ t.name }}
                            <br><span>{{ t.total_stages }} stage{{ s.total_courses|pluralize:"s" }}.</span>
                        </a>
                    </li>
                {% empty %}
                    <li class="no-result">
                        No trips in the database.
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="trip-stages">
            {% for stage in trip_stages %}
                <h3><a href="{% url "trip_stage_detail" stage.slug %}">{{ stage.name }}</a></h3>
            {% empty %}
                <p>No stages for this trip.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
