{% extends "base.html" %}

{% block title %}
        Stages of the trip: {{ trip.name }}
{% endblock %}

{% block content %}
    <div class="sub-header">
        <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <span>Trips</span>
        <ul>
            <li><a href="#"><button id="group-remove" type="submit" disabled>Remove</button></a></li>
            <li><a href="{% url "person_add" %}"><button>Add</button></a></li>
        </ul>
    </div>
    <h1>
        Stages of the trip: {{ trip.name }}
    </h1>
    <div class="contents">
        <h3>Trips:</h3>
        <ul id="modules">
            {% for t in trips %}
                <li {% if trip == t %}class="selected"{% endif %}>
                    <a href="{% url "trip_stage_list_item" t.slug %}">
                        {{ t.name }}
                        <br><span>{{ t.total_stages }} stage{{ s.total_courses|pluralize:"s" }}.</span>
                    </a>
                </li>
            {% empty %}
                <li class="no-result">
                    No trips in the database.
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for stage in trip_stages %}
            <h3><a href="{% url "trip_stage_detail" stage.slug %}">{{ stage.name }}</a></h3>
        {% empty %}
            <h3>No stages for this trip.</h3>
        {% endfor %}
    </div>
{% endblock %}

